.results {
	margin-bottom: 2em;
}
.sort-select {
	margin-bottom: 2em;	
}

.search-result-item {
	opacity: 1;
}

.loading,
.loading:before,
.loading:after {
	border-radius: 50%;
	width: 1.5em;
	height: 1.5em;
	animation-fill-mode: both;
	animation: load7 2.8s infinite ease-in-out;
}
.loading {
	color: #000000;
	font-size: 8px;
	margin: 80px auto;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	animation-delay: -0.16s;
}
.loading:before,
.loading:after {
	content: '';
	position: absolute;
	top: 0;
}
.loading:before {
	left: -3.5em;
	animation-delay: -0.32s;
}
.loading:after {
	left: 3.5em;
}

@keyframes load7 {
	0%,
	80%,
	100% {
		box-shadow: 0 2.0em 0 -1.3em;
	}
	40% {
		box-shadow: 0 2.0em 0 0;
	}
}
