@import '~foundation-sites/scss/foundation';

$logo-width-medium: 170px;
$logo-width-small: 85px;
$logo-height-medium: 80px;

.logo-container {
	width: $logo-width-small;

	.title-bar & {
		margin: auto;
		position: relative;
		left: -12px;
	}
}

.logo {
	height: 0;
	padding-top: $logo-height-medium/$logo-width-medium*100%;
	overflow: hidden;
	background-size:100%;
	background-repeat: no-repeat;
	margin: 0;
}

@include breakpoint(medium) {
	.logo-container {
		width: $logo-width-medium;
		// height: 80px;
	}
}
header {
	border-bottom: 1px solid #efefef;
}

/* navigation header overrides for search */
.top-bar .top-bar-right {
    flex: 0 1 auto;
    margin-left: auto;
    padding-right: 12%;
}

.top-bar .top-bar-left {
    flex: 1 1 auto;
    margin-right: auto;
    padding-left: 8%;
}