
$logo-width-medium: 170px;
$logo-width-small: 85px;
$logo-height-medium: 64px;

.wch-footer {
	background:#222;
	color:#ddd;
	min-height:240px;
	padding:40px 0 20px 0;
	margin-top:40px;
	text-align:center;

	ul {
		list-style: none;
		margin-top: 30px;
	}
}
@media (min-width:768px) {
	.wch-footer {
		padding-top:50px;
		margin-top:60px;
	}
}
@media (min-width:1200px) {
	.wch-footer {
		margin-top:80px;
	}
}
.wch-footer a {
	color:#dadada;
}
.wch-footer h5 {
	text-transform:uppercase;
}

.footer-logo {
	display:flex;
	justify-content:center;

	.logo-container {

		.title-bar & {
			margin: auto;
			position: relative;
			left: -12px;
		}
	}

	.logo {
		height: 0;
		padding-top: $logo-height-medium/$logo-width-medium*100%;
		overflow: hidden;
		background-size:cover;
		margin: 0;
	}
}
@media (min-width:640px) {
	.footer-logo a {
		display:inline-block;
	}
}
.footer-nav li,
.contact-us li {
	margin-bottom:10px;
}
.contact-us span {
	display:block;
}
.footer-logo {
	text-align:left;
	order:1;
}
.footer-nav {
	order:2;
}
.follow-us {
	order:3;
}
.contact-us {
	order:3;
}
@media (min-width:640px) {
	.footer-logo {
		order:1;
	}
	.footer-nav {
		order:2;
	}
	.follow-us {
		order:4;
	}
	.contact-us {
		order:3;
	}
}
.follow-us,
.contact-us,
.footer-nav {
	margin-top:30px;
}
@media (min-width:640px) {
	.follow-us,
	.contact-us,
	.footer-nav {
		margin-top:0;
		text-align:left;
	}
}
.follow-us ul {
	display:flex;
	justify-content:center;
}
@media (min-width:640px) {
	.follow-us ul {
		display:block;
	}
}
.follow-us li {
	display:block;
	margin-right:30px;
}
@media (min-width:640px) {
	.follow-us li {
		margin-bottom:30px;
	}
}
.follow-us li svg {
	width:30px;
	height:30px;
	margin-bottom:-10px;
}
@media (min-width:640px) {
	.follow-us li svg {
		margin-right:6px;
	}
}
.follow-us li:last-child {
	margin-right:0;
}
@media (min-width:640px) {
	.follow-us ul {
		display:inline;
	}
}
.legal {
	margin-top:40px;
}
.legal .copyright {
	margin:0 auto;
}

@media print, screen and (min-width: 40em) {
  .follow-us ul {
	  display: block;
  }
}