.preview-container {
	padding: 50px 30px 30px 30px;
}

.msg {
	padding: 15px 50px;
	text-align: center;
	
	&.error {
		color: #d32f2f;
	}

	code {
		background-color: #f2f2f2;
	}
}

.create-thumbnail {
	width: 100%;
	padding: 10px;
	background-color: #ddd;
	border-bottom: 1px solid black;
	position: fixed;
	z-index: 1000;

	&:hover {
		background-color: #ccc;
	}

	&:active {
		background-color: #bbb;
	}
}

.download-thumbnail {
	display: none;
}
