.share-buttons {
	display:flex;
	align-items:flex-start;
}
@media (min-width: 768px) {
	.share-buttons {
		float:right;
	}
}
.fb-share-button,
.twitter-share-button {
	margin-right:10px;
}

.twitter iframe {
	width: 80px;
	height: 26px;
}