@import '~foundation-sites/scss/foundation';

.wch-hero-image {
  margin-top: -35px;
  overflow:hidden;
  position:relative;
  text-align: center;

  img {
    width:100%;
    /*transform:scale(2);*/
    transition:transform .3s ease-in;
  }

  .section {
    padding-top:0;
    display:flex;
  }

}


.hero-message {
  position: absolute;
  top:0;
  left:0; /*centering overlaid message*/
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content:center;
  align-items:center;
  text-align: center;

  h1 {
    width:90%;
    margin-bottom:.25em;
  }
}

.hero-button {
  background-color:#fff;
  font-size: .8rem;
  padding:.75em 1.5em;
  border:none;

  :hover {
    background-color: #fff;
  }
}


.text-hero {
  font-size: 1.75rem; /*28px*/
  line-height: 1;
  color:#fff;
  text-align: center;
  font-family: 'Vidaloka', georgia, 'Times New Roman', serif;
}

@include breakpoint(medium)  {
  h1, .text-hero {
    font-size: 3.15rem; /*52px*/
    line-height: 1.26;
  }

  .wch-hero-image img {
	/*transform:scale(1.5);*/
  }

  .hero-message h1 {
	width:80%;
  }

  .hero-button {
    font-size:.9rem;
    padding:1.25em 2.625em;
  }


}
@include breakpoint(large) {
  .wch-hero-image img {
	/*transform:scale(1);*/
  }

  h1,
  .text-hero {
    font-size: 3.5rem; /*80px*/
  }

  .hero-message h1 {
	max-width:1200px;
  }
  .hero-message > .button {
	margin-top:64px;
  }

  .hero-button {
    font-size:1rem;
  }

}

